<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd http://www.nlog-project.org/schemas/NLog.xsd">
	<targets>
		<!-- יעד (Target) של הלוגים. כאן הלוגים נכתבים לקובץ -->
		<target name="logfile" xsi:type="File" fileName="C:\Logs\myapp.log" layout="${longdate} ${level} ${message}" />

		<!-- יעד של הלוגים לקונסול -->
		<target name="logconsole" xsi:type="Console" layout="${longdate} ${level} ${message}" />
	</targets>

	<rules>
		<!-- כל הלוגים ברמות Info ומעלה נשלחים לקובץ ולקונסול -->
		<logger name="*" minlevel="Info" writeTo="logfile, logconsole" />

		<!-- הלוגים ברמות Debug ומטה נשלחים רק לקונסול -->
		<logger name="*" minlevel="Debug" writeTo="logconsole" />
	</rules>
</nlog>
